.page:hover .chevron {
    display: inline;
}

.nested-pages {
    margin-left: 20px;
    flex-wrap: nowrap;
}

.sidebar {
    width: 250px; /* Adjust as needed */
    overflow: hidden;
  }
  
  .page {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .page-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust to your sidebar width minus the space taken by icons */
  }
  
  .icon-default, .icon-chevron-right {
    flex-shrink: 0;
  }